/*index*/

.list-paginas {
    display: list-item;
    text-align: center;
    font-size: 30px;
}


.flex-index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.parrafo-index {
    padding: 15px;
}
